<div class="border-2 border-primary">
	<div class="pt-2 pb-2 pl-3 bg-primary text-white">
  	Expediente
	</div>

	<div class="form-row m-4">
		<div class="col-xs-12 col-lg-6">
			<label class="label-form-control col-form-label-sm">
				<strong>Código: </strong>0032-2016-MINEDU
			</label>
		</div>
		<div class="col-xs-12 col-lg-6">
			<label class="label-form-control col-form-label-sm">
				<strong>Descripción: </strong>ESPECIALISTA ESPECIALISTA ESPECIALISTA ESPECIALISTA ESPECIALISTA ESPECIALISTA ESPECIALISTA ESPECIALISTA ESPECIALISTA ESPECIALISTA 
			</label>
		</div>
	</div>

	<hr class="ml-4 mr-4">

	<div class="pl-5 pr-5 pt-3">
		<div class="alert alert-success" role="alert">
		  Su psotulación ha sido registrada satisfactoriamente
		</div>

		<div class="pl-3 pr-3 pt-3">
			<div class="form-row">
				<h5 class="text-primary pl-1">FICHA DE POSTULACIÓN</h5>
			</div>

			<table class="table table-bordered table-sm table-striped">
        <tbody class="">
          <tr>
          	<td>Nombres</td>
          	<td>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</td>
          </tr>
          <tr>
          	<td>Apellido Paterno</td>
          	<td>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</td>
          </tr>
          <tr>
          	<td>Apellido Paterno</td>
          	<td>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</td>
          </tr>
        </tbody>        
      </table>

      <h4 class="mt-5">
  			2 Sustentos
  		</h4>
  		<table class="table table-bordered table-sm table-striped">
        <thead>
          <tr>
            <th scope="col" class="text-center" style="width: 20%">Sección</th>
            <th scope="col" class="text-center" style="width: 70%">Descripción del Sustento</th>
            <th scope="col" class="text-center" style="width: 10%">Ver</th>
          </tr>
        </thead>
        <tbody>
          <tr>
          	<td class="font-weight-bold-515">Formación Académica</td>
          	<td>INGENIERIA DE SISTEMAS.....</td>
          	<td class="text-center">
          		<input type="button" name="" class="btn btn-info btn-md font-weight-bold-515" value="Ver">
          	</td>
          </tr>
          <tr>
          	<td class="font-weight-bold-515">Experiencia Laboral</td>
          	<td>ESPECIALISTA DE REDES............</td>
          	<td class="text-center">
          		<input type="button" name="" class="btn btn-info btn-md font-weight-bold-515" value="Ver">
          	</td>
          </tr>
        </tbody>        
      </table>
		</div>

	</div>
</div>