<div class="border-2 border-primary">
	<div class="pt-3 pb-3 pl-3 bg-primary text-white text-center">
  	Credenciales de Acceso
	</div>
	<div class="pl-4 pr-4 pt-3">
		<p class="mb-3">
			Hola <strong>nombre usuario</strong>,
		</p>
		<p class="mb-3">
			Acabas......
		</p>
		<p class="mb-3">
			Para iniciar.......
		</p>
		<br>
		<div id="user" class="bt-2">
			<div class="col-sm-5 offset-sm-4 offset-lg-5">				
				<label class="label-form-control">
					<strong>Usuario: </strong>aaaaaaa
				</label>
			</div>
		</div>
		<div id="password" class="bt-2">
			<div class="col-sm-5 offset-sm-4 offset-lg-5">
				<label class="label-form-control">
					<strong>Clave de Acceso: </strong>aaaaaaa
				</label>
			</div>
		</div>
		<div id="firma" class="bt-2">
			<div class="col-sm-5 offset-sm-4 offset-lg-5">
				<label class="label-form-control">
					<strong>Código Firma Electrónica: </strong>aaaaaaa
				</label>
			</div>
		</div>

		<div class="col-sm-5 offset-sm-4 offset-lg-5 mt-5 mb-5">
			<input type="button" name="" class="btn btn-primary btn-md pl-3 pr-3 pt-2 pb-2 font-weight-bold-515" value="Acceder a mi Cuenta" [routerLink]="['/calllist']">
		</div>

	</div>
</div>