<div class="border-2 border-primary">
	<div class="pt-2 pb-2 pl-3 bg-primary text-white">
  	Datos Personales
	</div>

	<div class="form-row m-4">
		<div class="col-xs-12 col-lg-6">
			<label class="label-form-control col-form-label-sm">
				<strong>Código: </strong>0032-2016-MINEDU
			</label>
		</div>
		<div class="col-xs-12 col-lg-6">
			<label class="label-form-control col-form-label-sm">
				<strong>Descripción: </strong>ESPECIALISTA ESPECIALISTA ESPECIALISTA ESPECIALISTA ESPECIALISTA ESPECIALISTA ESPECIALISTA ESPECIALISTA ESPECIALISTA ESPECIALISTA 
			</label>
		</div>
	</div>

	<hr class="ml-4 mr-4">

	<ul class="nav nav-tabs ml-4 mr-4" id="myTab" role="tablist">
	  <li class="nav-item">
	    <a class="nav-link active" id="personalinformation-tab" data-toggle="tab" href="#personalinformation" role="tab" aria-controls="personalinformation" aria-selected="true">DATOS PERSONALES</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" id="academictraining-tab" data-toggle="tab" href="#academictraining" role="tab" aria-controls="academictraining" aria-selected="false">FORMACIÓN ACADÉMICA</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" id="knowledge-tab" data-toggle="tab" href="#knowledge" role="tab" aria-controls="knowledge" aria-selected="false">CONOCIMIENTOS</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" id="workexperience-tab" data-toggle="tab" href="#workexperience" role="tab" aria-controls="workexperience" aria-selected="false">EXPERIENCIA LABORAL</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" id="annexes-tab" data-toggle="tab" href="#annexes" role="tab" aria-controls="annexes" aria-selected="false">ANEXOS</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" id="sendapplication-tab" data-toggle="tab" href="#sendapplication" role="tab" aria-controls="sendapplication" aria-selected="false">ENVIAR POSTULACIÓN</a>
	  </li>
	</ul>

	<div class="tab-content" id="myTabContent">
	  <div class="tab-pane fade active show" id="personalinformation" role="tabpanel" aria-labelledby="personalinformation-tab">
	  	<div class="pl-5 pr-5 pt-3">
				<form>
					<div class="form-row">
						<h5 class="text-primary pl-1">DATOS PERSONALES</h5>
					</div>
					
					<div class="form-row">
						<div class="form-group col-md-4">
							<label class="col-form-label col-form-label-sm font-weight-bold">
								Nacionalidad
							</label>
							<input type="text" name="" class="form-control form-control-sm" disabled>
						</div>

						<div class="form-group col-md-4">
							<label class="col-form-label col-form-label-sm font-weight-bold">
								Tipo de Documento
							</label>
							<select class="form-control form-control-sm" disabled>
								<option selected>DNI</option>
							</select>
						</div>

						<div class="form-group col-md-4">
							<label class="col-form-label col-form-label-sm font-weight-bold">
								Número de Documento
							</label>
							<input type="text" name="" class="form-control form-control-sm" disabled>
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col-md-4">
							<label class="col-form-label col-form-label-sm font-weight-bold">
								Apellido Paterno
							</label>
							<input type="text" name="" class="form-control form-control-sm" disabled>					
						</div>

						<div class="form-group col-md-4">
							<label class="col-form-label col-form-label-sm font-weight-bold">
								Apellido Materno
							</label>
							<input type="text" name="" class="form-control form-control-sm" disabled>
						</div>

						<div class="form-group col-md-4">
							<label class="col-form-label col-form-label-sm font-weight-bold">
								Nombres
							</label>
							<input type="text" name="" class="form-control form-control-sm" disabled>
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col-md-4">
							<label class="col-form-label col-form-label-sm font-weight-bold">
								Lugar de Nacimiento
							</label>
							<input type="text" name="" class="form-control form-control-sm" disabled>
						</div>

						<div class="form-group col-md-4">
							<label class="col-form-label col-form-label-sm font-weight-bold">
								Fecha de Nacimiento
							</label>
							<input type="text" name="" class="form-control form-control-sm" disabled>
						</div>

						<div class="form-group col-md-4">
							<label class="col-form-label col-form-label-sm font-weight-bold">
								Estado Civil
							</label>
							<select class="form-control form-control-sm">
								<option selected>[Seleccione]</option>
							</select>
						</div>
					</div>

					<div class="form-row">
						<h5 class="text-primary pl-1 mt-3">DATOS DE DOMICILIO</h5>
					</div>

					<div class="form-row">
						<div class="form-group col-md-4">
							<label class="col-form-label col-form-label-sm font-weight-bold">
								Departamento
							</label>
							<select class="form-control form-control-sm">
								<option selected>[Seleccione Departamento]</option>
							</select>
						</div>

						<div class="form-group col-md-4">
							<label class="col-form-label col-form-label-sm font-weight-bold">
								Provincia
							</label>
							<select class="form-control form-control-sm">
								<option selected>[Seleccione Provincia]</option>
							</select>
						</div>

						<div class="form-group col-md-4">
							<label class="col-form-label col-form-label-sm font-weight-bold">
								Distrito
							</label>
							<select class="form-control form-control-sm">
								<option selected>[Seleccione Distrito]</option>
							</select>
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col-md-2">
							<label class="col-form-label col-form-label-sm font-weight-bold">
								Urbanización
							</label>
							<input type="text" name="" class="form-control form-control-sm">
						</div>

						<div class="form-group col-md-2">
							<label class="col-form-label col-form-label-sm font-weight-bold">
								Vía (Av. Calle. Jr.)
							</label>
							<select class="form-control form-control-sm">
								<option selected>[Seleccione]</option>
							</select>
						</div>

						<div class="form-group col-md-8">
							<label class="col-form-label col-form-label-sm font-weight-bold">
								Dirección
							</label>
							<input type="text" name="" class="form-control form-control-sm">
						</div>
					</div>

					<div class="form-row">
						<h5 class="text-primary pl-1 mt-3">DATOS DE CONTACTO</h5>
					</div>

					<div class="form-row">
						<div class="form-group col-md-4">
							<label class="col-form-label col-form-label-sm font-weight-bold">
								Teléfono
							</label>
							<input type="text" name="" class="form-control form-control-sm">
						</div>

						<div class="form-group col-md-4">
							<label class="col-form-label col-form-label-sm font-weight-bold">
								Celular
							</label>
							<input type="text" name="" class="form-control form-control-sm">
						</div>

						<div class="form-group col-md-4">
							<label class="col-form-label col-form-label-sm font-weight-bold">
								Correo
							</label>
							<input type="text" name="" class="form-control form-control-sm">
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col-md-8">
							<label class="col-form-label col-form-label-sm font-weight-bold">
								Colegio Profesional (Ej.: Colegio de Ingenieros, Abogados, etc.)
							</label>
							<select class="form-control form-control-sm">
								<option selected>[Seleccione Colegio Profesional]</option>
							</select>
						</div>

						<div class="form-group col-md-4">
							<label class="col-form-label col-form-label-sm font-weight-bold">
								Nro. Registro
							</label>
							<input type="text" name="" class="form-control form-control-sm">
						</div>
					</div>

					<div class="form-row">
						<h5 class="text-primary pl-1 mt-3">OTROS DATOS</h5>
					</div>

					<div class="form-row">
						<div class="col-6">
							<label class="col-form-label col-form-label-sm font-weight-bold">
								Persona Con Discapacidad
							</label>
							<div>
								<div class="custom-control custom-radio custom-control-inline">
								  <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
								  <label class="custom-control-label" for="customRadioInline1">SI</label>
								</div>
							
								<div class="custom-control custom-radio custom-control-inline">
								  <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
								  <label class="custom-control-label" for="customRadioInline2">NO</label>
								</div>								
							</div>
						</div>					

						<div class="col-6">
							<label class="col-form-label col-form-label-sm font-weight-bold">
								Pertenece a las FF.AA.
							</label>
							<div>
								<div class="custom-control custom-radio custom-control-inline">
								  <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
								  <label class="custom-control-label" for="customRadioInline1">SI</label>
								</div>
								<div class="custom-control custom-radio custom-control-inline">
								  <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
								  <label class="custom-control-label" for="customRadioInline2">NO</label>
								</div>
							</div>
						</div>
					</div>

					<div class="form-row justify-content-end pr-1 mb-3 mt-3">
						<input type="button" name="" class="btn btn-primary btn-md pl-3 pr-3 pt-2 pb-2 font-weight-bold-515" value="Guardar">
					</div>
				</form>

				<hr>

				<div class="form-row">
					<h5 class="text-primary pl-1 mt-3">CARGA DOCUMENTOS SUSTENTARIOS</h5>
				</div>

				<div class="form-row">
					<div class="form-group col-md-4">
						<label class="col-form-label col-form-label-sm font-weight-bold">
							Tipo de Documento
						</label>
						<select class="form-control form-control-md">
							<option selected>[Seleccione Documento]</option>
						</select>
					</div>

					<div class="form-group col-md-4">
						<label class="col-form-label col-form-label-sm font-weight-bold">
							Sustento
						</label>
						<div class="input-group mb-3">
						  <div class="custom-file">
						    <input type="file" class="custom-file-input" id="inputGroupFile01">
						    <label class="custom-file-label" for="inputGroupFile01">Seleccione Archivo</label>
						  </div>
						</div>
					</div>

					<div class="form-group col-md-4">
						<label class="col-form-label col-form-label-sm font-weight-bold">
							Cargar
						</label>
						<input type="button" name="" class="btn btn-ghost btn-md form-control font-weight-bold-515" value="Cargar">
					</div>
				</div>

				<table class="table table-bordered table-sm table-striped">
	        <thead>
	          <tr>
	            <th scope="col" class="text-center">Tipo de Documento</th>
	            <th scope="col" class="text-center">Fecha de Carga</th>
	            <th scope="col" class="text-center">Ver Archivo</th>
	            <th scope="col" class="text-center">Eliminar</th>	            
	          </tr>
	        </thead>
	        <tbody class="border-top-4-primary border-bottom-4-primary">
	          
	        </tbody>        
	      </table>
			</div>			

	  </div>

	  <div class="tab-pane fade" id="academictraining" role="tabpanel" aria-labelledby="academictraining-tab">
	  	<div class="pl-5 pr-5 pt-3">
				<form>
					<div class="form-row">
						<h5 class="text-primary pl-1">FORMACIÓN ACADÉMICA</h5>
					</div>
					
					<div class="form-row">
						<div class="form-group col-md-6">
							<label class="col-form-label col-form-label-sm font-weight-bold">
								Formación Académica
							</label>
							<select class="form-control form-control-sm">
								<option selected>Universitaria</option>
							</select>
						</div>

						<div class="form-group col-md-6">
							<label class="col-form-label col-form-label-sm font-weight-bold">
								Estudio Completo
							</label>
							<select class="form-control form-control-sm">
								<option selected>Si</option>
							</select>
						</div>
					</div>

					<div class="form-row justify-content-end">
						<input type="button" name="" class="btn btn-primary btn-md font-weight-bold-515" value="Guardar">
					</div>
				</form>

				<hr>

				<form>
					<div class="form-row">
						<h5 class="text-primary pl-1">GRADO(S) SITUACIÓN ACADÉMICA Y ESTUDIOS</h5>
					</div>
					
					<div class="form-row">
						<div class="form-group col-md-3">
							<label class="col-form-label col-form-label-sm font-weight-bold">
								Nivel
							</label>
							<select class="form-control form-control-sm">
								<option selected>Universitaria</option>
							</select>
						</div>

						<div class="form-group col-md-3">
							<label class="col-form-label col-form-label-sm font-weight-bold">
								Grado
							</label>
							<select class="form-control form-control-sm">
								<option selected>Titulado</option>
							</select>
						</div>

						<div class="form-group col-md-6">
							<label class="col-form-label col-form-label-sm font-weight-bold">
								Especialidad
							</label>
							<select class="form-control form-control-sm">
								<option selected>Ingeniería de Sistemas</option>
							</select>
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col-md-6">
							<label class="col-form-label col-form-label-sm font-weight-bold">
								Centro de Estudios
							</label>
							<input type="text" name="" class="form-control form-control-sm">
						</div>

						<div class="form-group col-md-3">
							<label class="col-form-label col-form-label-sm font-weight-bold">
								Año de Inicio
							</label>
							<input type="number" name="" class="form-control form-control-sm">
						</div>

						<div class="form-group col-md-3">
							<label class="col-form-label col-form-label-sm font-weight-bold">
								Año Fin
							</label>
							<input type="number" name="" class="form-control form-control-sm">
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col-md-4">
							<label class="col-form-label col-form-label-sm font-weight-bold">
								Fecha Extensión de Grado
							</label>
							<input type="date" name="" class="form-control form-control-md">
						</div>

						<div class="form-group col-md-4">
							<label class="col-form-label col-form-label-sm font-weight-bold">
								Sustento
							</label>
							<div class="input-group mb-3">
							  <div class="custom-file">
							    <input type="file" class="custom-file-input" id="inputGroupFile01">
							    <label class="custom-file-label" for="inputGroupFile01">Seleccione Archivo</label>
							  </div>
							</div>
						</div>

						<div class="form-group col-md-4">
							<label class="col-form-label col-form-label-sm font-weight-bold">
								Agregar
							</label>
							<input type="button" name="" class="btn btn-primary btn-md form-control font-weight-bold-515" value="Agregar">
						</div>
					</div>

				</form>
			</div>
	  </div>
	  
	  <div class="tab-pane fade" id="knowledge" role="tabpanel" aria-labelledby="knowledge-tab">
	  	<div class="pl-5 pr-5 pt-3">
				<form>
					<div class="form-row">
						<h5 class="text-primary pl-1">CONOCIMIENTOS TÉCNICOS</h5>
					</div>
					
					<div class="form-row">
						<div class="form-group col-md-12">
							<label class="col-form-label col-form-label-sm font-weight-bold">
								Seleccione
							</label>
							<select class="form-control form-control-sm">
								<option selected>CONOCIMIENTOS EN GESTIÓN PÚBLICA Y COMPUTACIÓN E INFORMÁTICA</option>
							</select>
						</div>						
					</div>

					<div class="form-row justify-content-end">
						<input type="button" name="" class="btn btn-primary btn-md font-weight-bold-515" value="Agregar">
					</div>
					<br>
				</form>
			</div>
	  </div>

	  <div class="tab-pane fade" id="workexperience" role="tabpanel" aria-labelledby="workexperience-tab">
	  	<div class="pl-5 pr-5 pt-3">
				<form>
					<div class="form-row">
						<h5 class="text-primary pl-1">EXPERIENCIA LABORAL</h5>
					</div>
					
					<div class="form-row">
						<div class="form-group col-md-4">
							<label class="col-form-label col-form-label-sm font-weight-bold">
								Tipo de Experiencia
							</label>
							<select class="form-control form-control-sm">
								<option selected>Experiencia Específica</option>
							</select>
						</div>

						<div class="form-group col-md-8">
							<label class="col-form-label col-form-label-sm font-weight-bold">
								Cargo
							</label>
							<select class="form-control form-control-sm">
								<option selected>UN (01) AÑO DE EXPERIENCIA LABORAL BRINDANDO SERVICIO EN EL SECTOR PÚBLICO</option>
							</select>
						</div>					
					</div>

					<div class="form-row">
						<div class="form-group col-md-4">
							<label class="col-form-label col-form-label-sm font-weight-bold">
								Nivel
							</label>
							<select class="form-control form-control-sm">
								<option selected>Supervisor</option>
							</select>
						</div>

						<div class="form-group col-md-4">
							<label class="col-form-label col-form-label-sm font-weight-bold">
								Tipo de Entidad
							</label>
							<select class="form-control form-control-sm">
								<option selected>Público</option>
							</select>
						</div>

						<div class="form-group col-md-4">
							<label class="col-form-label col-form-label-sm font-weight-bold">
								Nombre de Entidad
							</label>
							<input type="text" name="" class="form-control form-control-sm">
						</div>
						
					</div>

					<div class="form-row">
						<div class="form-group col-md-2">
							<label class="col-form-label col-form-label-sm font-weight-bold">
								Fecha de Inicio
							</label>
							<input type="date" name="" class="form-control form-control-md">
						</div>

						<div class="form-group col-md-2">
							<label class="col-form-label col-form-label-sm font-weight-bold">
								Fecha Fin
							</label>
							<input type="date" name="" class="form-control form-control-md">
						</div>

						<div class="form-group col-md-4">
							<label class="col-form-label col-form-label-sm font-weight-bold">
								Adjuntar Constancia
							</label>
							<div class="input-group mb-3">
							  <div class="custom-file">
							    <input type="file" class="custom-file-input" id="inputGroupFile01">
							    <label class="custom-file-label" for="inputGroupFile01">Seleccione Archivo</label>
							  </div>
							</div>
						</div>

						<div class="form-group col-md-4">
							<label class="col-form-label col-form-label-sm font-weight-bold">
								Agregar
							</label>
							<input type="button" name="" class="btn btn-primary btn-md form-control font-weight-bold-515" value="Agregar">
						</div>
					</div>
				</form>

				<div class="row">
					<div class="col-md-4">
						<label class="col-form-label col-form-label-sm font-weight-bold">
							Experiencia General Acumulada:
						</label>								
					</div>

					<div class="col-md-4">
						<label class="col-form-label col-form-label-sm font-weight-bold">
							1 años
						</label>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4">
						<label class="col-form-label col-form-label-sm font-weight-bold">
							Experiencia Específica Acumulada:
						</label>								
					</div>

					<div class="col-md-4">
						<label class="col-form-label col-form-label-sm font-weight-bold">
							0 años
						</label>
					</div>
				</div>

				<hr>

				<table class="table table-bordered table-sm table-striped">
	        <thead>
	          <tr>
	            <th scope="col" class="text-center">TIPO EXPERIENCIA</th>
	            <th scope="col" class="text-center">CARGO</th>
	            <th scope="col" class="text-center">TIPO ENTIDAD</th>
	            <th scope="col" class="text-center">EMPRESA</th>
	            <th scope="col" class="text-center">VER SUSTENTO</th>
	            <th scope="col" class="text-center">ELIMINAR</th>
	          </tr>
	        </thead>
	        <tbody class="border-top-4-primary border-bottom-4-primary">
	          
	        </tbody>        
	      </table>

			</div>
	  </div>

	  <div class="tab-pane fade" id="annexes" role="tabpanel" aria-labelledby="annexes-tab">
	  	<div class="pl-5 pr-5 pt-3">
				<form>
					<div class="row">
						<div class="col-md-4">
							<label class="col-form-label col-form-label-sm font-weight-bold">
								¿Está usted inhabilitado administrativa o judicialmente para contratar con el Estado?
							</label>
						</div>
						<div class="col-md-7 offset-md-1 mt-1">
							<div>
								<div class="custom-control custom-radio custom-control-inline">
								  <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
								  <label class="custom-control-label" for="customRadioInline1">Sí</label>
								</div>
							
								<div class="custom-control custom-radio custom-control-inline">
								  <input type="radio" id="customRadioInline2" name="customRadioInline2" class="custom-control-input">
								  <label class="custom-control-label" for="customRadioInline2">No</label>
								</div>								
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-4">
							<label class="col-form-label col-form-label-sm font-weight-bold">
								¿Tiene usted parientes que trabajan en Pronabec?
							</label>
						</div>
						<div class="col-md-7 offset-md-1 mt-1">
							<div>
								<div class="custom-control custom-radio custom-control-inline">
								  <input type="radio" id="customRadioInline3" name="customRadioInline3" class="custom-control-input">
								  <label class="custom-control-label" for="customRadioInline3">Sí</label>
								</div>
							
								<div class="custom-control custom-radio custom-control-inline">
								  <input type="radio" id="customRadioInline4" name="customRadioInline4" class="custom-control-input">
								  <label class="custom-control-label" for="customRadioInline4">No</label>
								</div>								
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-4">
							<label class="col-form-label col-form-label-sm font-weight-bold">
								¿Tiene usted antecedentes penales?
							</label>
						</div>
						<div class="col-md-7 offset-md-1 mt-1">
							<div>
								<div class="custom-control custom-radio custom-control-inline">
								  <input type="radio" id="customRadioInline5" name="customRadioInline5" class="custom-control-input">
								  <label class="custom-control-label" for="customRadioInline5">Sí</label>
								</div>
							
								<div class="custom-control custom-radio custom-control-inline">
								  <input type="radio" id="customRadioInline6" name="customRadioInline6" class="custom-control-input">
								  <label class="custom-control-label" for="customRadioInline6">No</label>
								</div>								
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-4">
							<label class="col-form-label col-form-label-sm font-weight-bold">
								¿Tiene usted antecedentes judiciales?
							</label>
						</div>
						<div class="col-md-7 offset-md-1 mt-1">
							<div>
								<div class="custom-control custom-radio custom-control-inline">
								  <input type="radio" id="customRadioInline7" name="customRadioInline7" class="custom-control-input">
								  <label class="custom-control-label" for="customRadioInline7">Sí</label>
								</div>
							
								<div class="custom-control custom-radio custom-control-inline">
								  <input type="radio" id="customRadioInline8" name="customRadioInline8" class="custom-control-input">
								  <label class="custom-control-label" for="customRadioInline8">No</label>
								</div>								
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-4">
							<label class="col-form-label col-form-label-sm font-weight-bold">
								¿Tiene usted antecedentes policiales?
							</label>
						</div>
						<div class="col-md-7 offset-md-1 mt-1">
							<div>
								<div class="custom-control custom-radio custom-control-inline">
								  <input type="radio" id="customRadioInline9" name="customRadioInline9" class="custom-control-input">
								  <label class="custom-control-label" for="customRadioInline9">Sí</label>
								</div>
							
								<div class="custom-control custom-radio custom-control-inline">
								  <input type="radio" id="customRadioInline10" name="customRadioInline10" class="custom-control-input">
								  <label class="custom-control-label" for="customRadioInline10">No</label>
								</div>								
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-4">
							<label class="col-form-label col-form-label-sm font-weight-bold">
								¿Tiene usted conocimiento del Código de Ética de la Función Pública?
							</label>
						</div>
						<div class="col-md-7 offset-md-1 mt-1">
							<div>
								<div class="custom-control custom-radio custom-control-inline">
								  <input type="radio" id="customRadioInline11" name="customRadioInline11" class="custom-control-input">
								  <label class="custom-control-label" for="customRadioInline11">Sí</label>
								</div>
							
								<div class="custom-control custom-radio custom-control-inline">
								  <input type="radio" id="customRadioInline12" name="customRadioInline12" class="custom-control-input">
								  <label class="custom-control-label" for="customRadioInline12">No</label>
								</div>								
							</div>
						</div>
					</div>

					<hr>

					<div class="form-row justify-content-end pr-1 mb-3 mt-3">
						<input type="button" name="" class="btn btn-primary btn-md pl-3 pr-3 pt-2 pb-2 font-weight-bold-515" value="Guardar">
					</div>
				</form>
				
			</div>			

	  </div>

	  <div class="tab-pane fade" id="sendapplication" role="tabpanel" aria-labelledby="sendapplication-tab">
	  	<div class="pl-5 pr-5 pt-3">
	  		<h4 class="text-center mt-3">
	  			Hoja de Vida y Anexos de Postulación
	  		</h4>
	  		<table class="table table-bordered table-sm table-striped">
	        <thead>
	          <tr>
	            <th scope="col" class="text-center" style="width: 5%">N°</th>
	            <th scope="col" class="text-center" style="width: 85%">Nombre Ficha</th>
	            <th scope="col" class="text-center" style="width: 10%">Ver</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr>
	          	<td>1</td>
	          	<td>Formato.....Formato.....Formato.....Formato.....Formato.....</td>
	          	<td class="text-center">
	          		<input type="button" name="" class="btn btn-info btn-md font-weight-bold-515" value="Ver">
	          	</td>
	          </tr>
	          <tr>
	          	<td>2</td>
	          	<td>Anexo 01.....Anexo 01.....Anexo 01.....Anexo 01.....Anexo 01.....</td>
	          	<td class="text-center">
	          		<input type="button" name="" class="btn btn-info btn-md font-weight-bold-515" value="Ver">
	          	</td>
	          </tr>
	        </tbody>        
	      </table>

	      <h4 class="text-center mt-5">
	  			2 Sustentos Consignados en la Postulación
	  		</h4>
	  		<table class="table table-bordered table-sm table-striped">
	        <thead>
	          <tr>
	            <th scope="col" class="text-center" style="width: 20%">Sección</th>
	            <th scope="col" class="text-center" style="width: 70%">Descripción del Sustento</th>
	            <th scope="col" class="text-center" style="width: 10%">Ver</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr>
	          	<td class="font-weight-bold-515">Formación Académica</td>
	          	<td>INGENIERIA DE SISTEMAS.....</td>
	          	<td class="text-center">
	          		<input type="button" name="" class="btn btn-info btn-md font-weight-bold-515" value="Ver">
	          	</td>
	          </tr>
	          <tr>
	          	<td class="font-weight-bold-515">Experiencia Laboral</td>
	          	<td>ESPECIALISTA DE REDES............</td>
	          	<td class="text-center">
	          		<input type="button" name="" class="btn btn-info btn-md font-weight-bold-515" value="Ver">
	          	</td>
	          </tr>
	        </tbody>        
	      </table>
				
			</div>			

	  </div>

	  <hr class="ml-4 mr-4">

	  <div class="pl-5 pr-5 pt-3">

	  	<div class="alert alert-danger" role="alert">
			  <label class="font-weight-bold">
			  	IMPORTANTE:
			  </label>
			  <br>
			  <label>
			  	&nbsp;
			  	1. Toda la información...................			  	
			  </label>
			  <br>
			  <label>
			  	&nbsp;
			  	2. En caso sea necesario...................			  	
			  </label>
			  <br>
			  <label>
			  	&nbsp;
			  	3. Cuando realice la firma electrónica...................			  	
			  </label>
			</div>

			<div class="alert alert-success" role="alert">
			  <form>						
					<div class="form-row">
						<div class="col-md-6 mt-1">
							<input type="text" name="" class="form-control form-control-md" placeholder="Ingrese su Código de Firma Electrónica">
						</div>
						<div class="col-md-4 offset-md-1 mt-1">
							<input type="button" name="" class="btn btn-success btn-md" value="FIRMAR Y ENVIAR POSTULACIÓN" [routerLink]="['/casefileuser']">							
						</div>
					</div>
					<div class="form-row">
						<label class="col-form-label-sm">
							(Se le preguntará por su código de firma electrónica enviado a su correo al momento de registrarse)
						</label>
					</div>
				</form>
			</div>	  	

	  </div>
	</div>

</div>