<div>
	<div class="col-md-4 offset-md-4">
		<form class="center-block">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
			      <label for="buscar" class="lb-lg">Login</label>
			      <input type="text" name="buscar" id="buscar" class="form-control form-control-md mb-1" placeholder="DNI / Carnet de Extranjería">
			      <input type="password" name="buscar" id="buscar" class="form-control form-control-md mb-2" placeholder="Contraseña">
			      <input type="button" name="" class="btn btn-primary btn-lg btn-block" value="Ingresar">
			    </div>    
				</div>    		
			</div>
			<hr class="m-0">
		  <div class="row">
		  	<a class="col-md-6 lb-sm text-center" [routerLink]="['/newuserconsult']">Crear Nuevo Usuario</a>
		    <a href="#" class="col-md-6 lb-sm text-center">¿Olvidó Contraseña?</a>
		  </div>
		</form>	
	</div>
</div>